# Type of app, 'jail' or 'cee'
APP_TYPE=cee

# 'xml' (CEE and Jail) or 'json' (CEE only)
API_TYPE=json

# Base URI of the service
#APP_URL=http://localhost
#APP_SOCKET_URL=ws://localhost

# Number of request the script will make to check performance
NUMBER_OF_REQUESTS=1
# Interval between requests (1000 - 1 second, 500 - 0.5 second, etc.)
INTERVAL_BETWEEN_REQUESTS=1000

# Runner name
RUNNER_NAME=php7.1
# Name of the payload file
PAYLOAD_SCRIPT=calculating-pi.php

# Execution limits
MAX_TIME=60
MAX_FILESIZE=67108864
MAX_MEMORY=67108864
